{% extends "base.html" %}

{% block content %}
<div class="row">

    <div class="card m-2" style="width: 16rem;">
        <div class="card-body">
          <h5 class="card-title">Employees</h5>
          <hr/>
          <p class="card-text">Count: {{employees_count}}</p>
          <a href="#" class="btn btn-info btn-sm">See List</a>
        </div>
      </div>
      <div class="card m-2" style="width: 16rem;">
        <div class="card-body">
          <h5 class="card-title">Apartments</h5>
          <hr/>
          <p class="card-text">Count: {{clients_count}}</p>
          <a href="#" class="btn btn-info btn-sm">See List</a>
        </div>
      </div>
      <div class="card m-2" style="width: 16rem;">
        <div class="card-body">
          <h5 class="card-title">Tenants</h5>
          <hr/>
          <p class="card-text">Count: {{clients_count}}</p>
          <a href="#" class="btn btn-info btn-sm">See List</a>
        </div>
      </div>
  </div>
{% endblock %}